{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}Modifier le type de batterie
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">
			Modifier le type de batterie</h1>
		{{form(form)}}
		</div>
	{% endblock %}
